/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width:100%;
    height:100%;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

#map {
    width: 100%;
    height: 100%;
    background-color:aqua;
}

#stuff {
    width: 100%;
    height: 100%;
    color: red;
}
